include ../../../node_modules/bempug/index
- BEMPUG.modifier = '_';

+b('todo-item')
  brand-input(
    v-model="selfTodoForInput"
    placeholder="Введите задачу"
    ref="todoInput"
    @input="onInput"
  )
  +e('button-wrapper', {})
    brand-button(
      :themeRed="true"
      label="Удалить"
      @click="deleteButtonClicked"
    )
    brand-button(
      v-if="editState"
      :themeGreen="editState"
      :disable="!selfTodoForInput"
      @click="doneButtonClicked"
      label="Готово"
    )